.card-location {
    border-radius: var(--radius-lg);
    position: relative;
    height: auto;
    width: 100%;
    height: 250px;
}

.image-card-location {
    width: 100%;
    height: 250px;
}

.card-location img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000b0;
    color: var(--text-light);
    padding: var(--space-xs);
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    height: auto;
    /* max-height: 130px; */
    min-width: auto;
    padding: var(--space-xs);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
    /* flex-wrap: wrap; */
}

.card-info-content {
    flex-grow: 1;
}

.card-info-content h3 {
    font-size: var(--text-base);
}

.card-info-content p {
    font-size: var(--text-sm);
}

.btn-card {
    min-width: 96px;
    font-size: var(--text-sm);
    padding: var(--space-2xs) var(--space-sm);
    min-height: 35px;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
}

.btn-remove-location {
    background-color: var(--secondary-color);
}

@media (max-width: 375px) {
    .card-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-info-content {
        width: 100%;
        min-height: auto;
        margin-bottom: var(--space-xs);
    }
}

@media (min-width: 590px) {
    .tourist-attractions-grid {
        justify-content: flex-start;
    }

    /* Configuração para 2 cartões por linha */
    .card-location {
        /* Calcula a largura para 2 cartões, subtraindo o gap */
        /* calc((100% - N * gap) / N) */
        width: calc(50% - var(--space-sm) / 2);
    }
}

@media (min-width: 992px) {

    /* Configuração para 3 cartões por linha */
    .card-location {
        /* Calcula a largura para 3 cartões, subtraindo 2x o gap */
        /* Temos 2 gaps entre 3 itens, totalizando 2*var(--space-xs) de espaço ocupado pelo gap */
        width: calc(33.333% - (2 * var(--space-sm) / 3));
    }
}