.app-view {
    min-height: 93vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}

.app-view#welcome-screen {
    min-height: 70vh;
}

#welcome-screen p {
    text-align: center;
}

.illustration-of-houses {
    position: fixed;
    bottom: 0;
    height: 180px;
    z-index: 2;
    object-fit: cover;
}