.selected-locations-content {
    margin-top: var(--selected-routes-margin-top);

    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.btn-see-route {
    position: fixed;
    right: var(--fab-space-mobile-right);
    bottom: var(--fab-space-mobile-bottom);

    display: flex;
    gap: var(--space-xs);
}