/* ===========================================
   DESIGN TOKENS COMPLETOS
   =========================================== */
   :root {
  
    /* Cores principais de identidade */
    --primary-color: #294727; 
    --secondary-color: #BD632F; 
    --accent-color: #0011ff; /* destaques, links, botões */
    --muted-color: #999999; /* elementos desabilitados ou menos destacados */
    --success-color: #5deb5d; /* sucesso */
    --warning-color: #ffcc00; /* aviso */
    --error-color: #ff4d4f; /* erro */
  
    /* Cores de bordas */
    --border-dark: #294727; 
    --border-light: #BD632F; 
    --border-focus: #0011ff;
  
    /* Cores de texto */
    --text-dark: #232323; 
    --text-light: #FFFFFF; 
    --text-accent: #002EFD;
    --text-muted: #999999; 
    --text-success: #5deb5d; 
  
    /* Cores de fundo */
    --bg-light: #F6F6F6;
    --bg-dark: #294727;
    --bg-accent: #002EFD; 
    --bg-muted: #999999; 
    --bg-success: #BFFFBF;
  
    /* Tipografia */
    --font-family-primary:  "Inter", sans-serif;
  
    /* Tamanhos de fonte - Regra do 8 (múltiplos de 8px) */
    --text-xs: 0.5rem;     /* 8px */
    --text-sm: 0.75rem;   /* 12px (exceção) */ 
    --text-base: 1rem;     /* 16px */
    --text-md: 1.25rem;    /* 20px */
    --text-lg: 1.5rem;     /* 24px */
    --text-xl: 2rem;       /* 32px */
    --text-2xl: 2.5rem;    /* 40px */
    --text-3xl: 3rem;      /* 48px */
    
    /* Pesos de fonte */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    /* Espaçamentos - Regra do 8 (múltiplos de 8px) */
    --space-2xs: 0.25rem;   /* 4px (exceção) */
    --space-xs: 0.5rem;    /* 8px */
    --space-sm: 1rem;      /* 16px */
    --space-md: 1.5rem;    /* 24px */
    --space-lg: 2rem;      /* 32px */
    --space-xl: 2.5rem;    /* 40px */
    --space-2xl: 3rem;     /* 48px */
  
      /* Border radius */
    --radius-xs: 0.5rem;   /* 8px */
    --radius-lg: 1rem;    /* 16px */
    --radius-full: 9999px; /* círculo */
    
    /* Sombras */
    --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    /* Transições */
    --transicao-rapida: 0.2s ease-out;
    --transicao-moderada: 0.3s ease-in-out;
    --transicao-suave-saida: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --transicao-padrao-cor: color var(--transicao-rapida), background-color var(--transicao-rapida);
    --transicao-padrao-transform: transform var(--transicao-rapida) var(--transicao-suave-saida);
  }